//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE        0
#define LMD         1
#define RMD         2
#define SYM         3
#define NUM         4
#define ARW         5
#define Media       6
#define Fun         7
#define Button      8
#define Game        9
#define Gameplus    10

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_meta_shift {
            bindings = <&kp LG(LEFT_SHIFT)>;
            key-positions = <33 35 35>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            label = "BASE";
            bindings = <
       &kp Q  &kp W  &kp E         &kp R            &kp T        &kp Y      &kp U        &kp I            &kp O    &kp P
       &kp A  &kp S  &kp D         &kp F            &kp G        &kp H      &kp J        &kp K            &kp L    &none
&none  &kp Z  &kp X  &kp C         &kp V            &kp B        &kp N      &kp M        &kp COMMA        &kp DOT  &none  &none
                     &lt 3 DELETE  &mt LMETA SPACE  &lt 1 ESC    &lt 2 TAB  &lt 5 ENTER  &lt 4 BACKSPACE
            >;
        };

        LMD {
            label = "LMD";
            bindings = <
        &trans  &trans    &trans      &trans     &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &kp LALT  &kp LSHIFT  &kp LCTRL  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans    &trans      &trans     &trans    &trans  &trans  &trans  &trans  &trans  &trans
                          &trans      &trans     &trans    &trans  &trans  &trans
            >;
        };

        RMD {
            label = "RMD";
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans      &trans    &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &kp RCTRL  &kp RSHIFT  &kp RALT  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans      &trans    &trans  &trans
                        &trans  &trans  &trans    &trans  &trans     &trans
            >;
        };

        SYM {
            label = "SYM";
            bindings = <
        &kp EXCL   &kp AT     &kp HASH   &kp DOLLAR     &kp PERCENT    &kp CARET         &kp AMPERSAND   &kp STAR      &kp UNDERSCORE  &trans
        &kp PIPE   &kp LBKT   &kp LBRC   &kp LPAR       &kp SLASH      &kp BACKSLASH     &kp RPAR        &kp RBRC      &kp RBKT        &trans
&trans  &kp GRAVE  &kp TILDE  &kp COLON  &kp SEMICOLON  &kp DQT        &kp SQT           &kp MINUS       &kp PLUS      &kp EQUAL       &trans  &trans
                              &trans     &trans         &trans         &kp LEFT_CONTROL  &kp LEFT_SHIFT  &kp LEFT_ALT
            >;
        };

        NUM {
            label = "NUM";
            bindings = <
        &kp F1   &kp F2   &kp F3        &kp F4     &kp F5       &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
        &kp N1   &kp N2   &kp N3        &kp N4     &kp N5       &kp N6  &kp N7  &kp N8  &kp N9  &trans
&trans  &kp F11  &kp F12  &trans        &kp N0     &trans       &trans  &trans  &trans  &trans  &trans   &trans
                          &kp LEFT_ALT  &kp LSHFT  &kp LCTRL    &trans  &trans  &trans
            >;
        };

        NAV {
            label = "NAV";
            bindings = <
        &trans  &trans  &trans        &trans          &trans              &trans    &kp PAGE_DOWN  &kp PAGE_UP  &kp INS    &trans
        &trans  &trans  &trans        &trans          &trans              &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT  &trans
&trans  &trans  &trans  &trans        &trans          &trans              &trans    &kp END        &kp HOME     &kp PSCRN  &trans  &trans
                        &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LEFT_CONTROL    &trans    &trans         &trans
            >;
        };
    };
};
